In [2]:
CREATE TABLE Shark (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    color VARCHAR(50) NOT NULL
);

In [17]:
SELECT * FROM Shark;

id,name,color
2,gigio,teal
6,san,red
8,san,red
9,san,red
10,san,red
11,san,red

In [10]:
DELETE FROM Shark WHERE id = 3